* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    border:5px solid black;
}

header {
  height: 200px;
  background-color: yellow;
  margin:15px;
}
main {
  padding: 10px;
  margin: 15px;
}

main::after {
  content:'';
  display: table;
  clear: both;
}

.blocco {
  float: left;
  margin-right: 1%;
}

.blocco-sx {
  height: 400px;
  width: 25%;
  background:pink;
}

.blocco-cntr {
  height: 600px;
  width: 47%;
  background:purple;
}

.contenitore {
  height: 1000px;
  width: 25%;
}

.blocco-dx {
  height: 400px;
  width: 100%;
  background:pink;
  margin-bottom: 15px;
}

footer {
  height: 200px;
  margin: 15px;
  background-color: blue;
}
