* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blocco-sup {
  width: 98%;
  height: 200px;
  background-color: yellow;
  margin: 1%;
}

main::after {
  content='';
  display:table;
  clear:both;
}

.blocco-left {
  width: 22%;
  height: 300px;
  background-color: pink;
  margin: 1%;
}

.blocco-center {
  width: 40%;
  height: 300px;
  background-color: purple;
  margin: 1%;
}

.blocco-right {
  width: 22%;
  height: 300px;
  background-color: pink;
  margin: 1%;
}

.blocco {
  float: left;
}
