* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 200px;
  background-color: yellow;
  margin:15px;
}
main {
  height: 1000px;
  padding: 15px;
}

main::after {
  content:'';
  display: table;
  clear: both;
}

.blocco {
  float: left;
  margin-right: 15px;
}

.blocco-sx {
  height: 400px;
  width: 400px;
  background:pink;
  border: 1px solid black;
}

.blocco-cntr {
  height: 600px;
  width: 1000px;
  background:purple;
  border: 1px solid black;
}

.blocco-dx {
  height: 400px;
  width: 400px;
  background:pink;
  margin-bottom: 15px;
  border: 1px solid black;
}

footer {
  height: 200px;
  margin: 15px;
  background-color: blue;
}
